* {
  text-decoration: none;
  list-style: none;
  font-family: serif;
  font-size: 20px;
}

a {
  color: #1e87ff;
  font-size: 21px;
}

a.active {
  text-decoration: underline;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #4f5253;
}

.app-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 24px;
}

.app-name {
  font-size: 25px;
}

.logo {
  width: 34px;
  height: 30px;
}

.navLinks {
  display: flex;
  margin-right: 24px;
}

.navLinks li {
  padding: 0 24px;
}

table {
  margin: 1em;
  border: 1px solid rgb(121, 121, 121);
  border-right: none;
  border-bottom: none;
}

th,
td {
  border-bottom: 1px solid rgb(121, 121, 121);
  border-right: 1px solid rgb(121, 121, 121);
}

.mission-table thead tr {
  text-align: left;
}

.table-head {
  padding: 0.5em 10px;
}

.mission-list td {
  padding: 0.5em 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  min-width: 100px;
}

.mission-list:nth-child(even) {
  background-color: #dadada;
}

.mission-name {
  font-weight: bold;
  position: relative;
}

.mission-name span {
  position: absolute;
  top: 10px;
}

.not-a-member {
  font-size: 14px;
  padding: 5px;
  color: white;
  background-color: dimgray;
  border-radius: 4px;
}

.join-mission {
  font-size: 18px;
  padding: 7px;
  background-color: transparent;
  border: 0.1px solid rgb(121, 121, 121);
}

.not-a-member,
.join-mission {
  white-space: nowrap;
}

.active-member {
  white-space: nowrap;
  font-size: 16px;
  color: white;
  background-color: rgb(33, 168, 185);
  border: none;
  padding: 4px;
  border-radius: 4px;
}

.leave-mission {
  white-space: nowrap;
  font-size: 16px;
  color: rgb(255, 0, 0);
  background-color: transparent;
  border: 1px solid red;
  padding: 8px;
}

.missions-joined {
  padding: 0.5em 2em;
}

.mission-joined-profile {
  border: 1px solid black;
  border-bottom: none;
  width: 45%;
  padding: 0;
}

.mission-joined-profile li {
  border-bottom: 1px solid black;
  padding: 1em;
  margin: 0;
}

.rocket-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 0 24px;
  padding: 30px 0;
}

.rocket {
  display: flex;
  gap: 30px;
}

.rocket-img {
  width: 300px;
  height: 200px;
}

.details {
  width: 70%;
}

.btn {
  padding: 8px 15px;
  background-color: rgb(49, 119, 248);
  border: none;
  border-radius: 3px;
  color: #fff;
}
