* {
  text-decoration: none;
  list-style: none;
  font-family: serif;
  font-size: 20px;
}

a {
  color: #1e87ff;
  font-size: 21px;
}

a.active {
  text-decoration: underline;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #4f5253;
}

.app-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 24px;
}

.app-name {
  font-size: 25px;
}

.logo {
  width: 34px;
  height: 30px;
}

.navLinks {
  display: flex;
  margin-right: 24px;
}

.navLinks li {
  padding: 0 24px;
}
