body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

table,
th,
td {
  border: 1px solid rgb(131, 131, 131);
}

.mission-table thead tr {
  text-align: left;
}

.table-head {
  padding: 0.5em 10px;
}

.mission-list td {
  padding: 0.5em 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  min-width: 100px;
}

.mission-list:nth-child(even) {
  background-color: #dadada;
}

.mission-name {
  font-weight: bold;
  position: relative;
}

.mission-name span {
  position: absolute;
  top: 10px;
}

.not-a-member {
  font-size: 14px;
  padding: 5px;
  color: white;
  background-color: dimgray;
  border-radius: 4px;
}

.join-mission {
  font-size: 18px;
  padding: 7px;
  background-color: transparent;
  border: 1px solid dimgray;
}

.not-a-member,
.join-mission {
  white-space: nowrap;
}
